# GitLab connection
gitlabUrl: https://gitlab.com/ # or your self-hosted URL
runnerToken: "glrt-YOUR_TOKEN_HERE" # ⚠️ Replace this!

imagePullPolicy: IfNotPresent

# Runner image
image:
  registry: docker.io
  image: gitlab/gitlab-runner
  tag: ubuntu

# Security - in some helm/kubernetes collections there is problem with permissions
# like "mkdir: cannot create directory '/home/gitlab-runner': Permission denied".
# See: https://docs.gitlab.com/runner/install/kubernetes_helm_chart_configuration/#switch-to-the-ubuntu-based-gitlab-runner-docker-image)
securityContext:
  fsGroup: 999
  runAsUser: 999

# Scaling
replicas: 2 # 2 manager pods for HA
concurrent: 4 # each manager handles 4 jobs max

checkInterval: 15 # define in sec how often the runner checks for new jobs

serviceAccount:
  create: true
rbac:
  create: true
  clusterWideAccess: true
  rules:
    - resources: ["events"]
      verbs: ["list", "watch"]
    - resources: ["namespaces"]
      verbs: ["create", "delete"]
    - resources: ["pods"]
      verbs: ["create", "delete", "get"]
    - apiGroups: [""]
      resources: ["pods/attach", "pods/exec"]
      verbs: ["get", "create", "patch", "delete"]
    - apiGroups: [""]
      resources: ["pods/log"]
      verbs: ["get", "list"]
    - resources: ["secrets"]
      verbs: ["create", "delete", "get", "update"]
    - resources: ["serviceaccounts"]
      verbs: ["get"]
    - resources: ["services"]
      verbs: ["create", "get"]

# Kubernetes executor config
runners:
  config: |
    [[runners]]
      [runners.kubernetes]
        namespace = "{{.Release.Namespace}}"
        image = "alpine:latest"

        # Resource limits (per job pod)
        cpu_limit = "1"
        memory_limit = "4Gi"
        cpu_request = "500m"
        memory_request = "512Mi"

        # Service containers (e.g., DinD)
        service_cpu_limit = "1"
        service_memory_limit = "4Gi"

        # Enable privileged mode (needed for Docker-in-Docker)
        privileged = true
